---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import cardsData from '../data/cardsData.json';

const reverseCardsData = [...cardsData].sort((a, b) => b.id - a.id);
---

<Layout title="JSGames.">
	<div class="max-w-[1200px] mx-auto my-[60px] px-5">
		<main>
			<header class="flex items-center justify-center gap-4 mb-[100px]">
				<h1 class="text-8xl font-bold uppercase tracking-wide text-gray-800 text-center relative p-5 overflow-hidden bg-clip-text bg-gradient-to-r from-white/20 to-white/20">
					JSGames
					<span class="absolute top-1/2 left-[-150%] w-[300%] h-[300%] bg-gradient-to-r from-transparent via-white/20 to-transparent transform -translate-y-1/2 rotate-[15deg] animate-[shine_3s_infinite_linear]"></span>
				</h1>
				<img src="./img/javascript.png" class="w-[125px] h-[125px] rounded-md rotate-2 shadow-lg transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-xl" />
			</header>

			<!-- Contenedor Grid -->
			<section class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-10 w-full">
				<!-- Itera sobre el array de datos para crear las tarjetas -->
				{reverseCardsData.map((card, index) => (
					<Card key={index} card={card} indice={reverseCardsData.length - index - 1} />
				))}
			</section>
		</main>
	</div>
</Layout>

<style>
	@keyframes shine {
		0% {
			left: -150%;
		}
		100% {
			left: 150%;
		}
	}
</style>
